[submodule "contracts/Formation"]
	path = contracts/Formation
	url = https://github.com/NAOS-Finance/NAOS-Formation.git
[submodule "contracts/Galaxy"]
	path = contracts/Galaxy
	url = https://github.com/NAOS-Finance/NAOS-Galaxy.git
